* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#wrapper {
  width: 960px;
  margin: auto;
}
#modes > form {
  float: left;
  width: 250px;
  height: 300px;
  background-color: #adadad;
  margin: 10px 0px 0px 10px;
}
#modes > form > fieldset {
  margin: 10px 10px 10px 10px;
}
#modes > form > fieldset > input {
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px 5px 10px 10px;
}
#modes > form > fieldset > #modeSubmit {
  float: left;
  margin: 0px 0px 10px 60px;
  width: 100px;
  height: 20px;
}
#modes > form > fieldset > label {
  float: left;
  display: block;
  width: 190px;
  height: 20px;
  margin: 10px 0px 10px 0px;
}
#leds {
  float: left;
  width: 600px;
  height: 75px;
  margin: 10px 0px 0px 10px;
}
#leds > ul {
  list-style: none;
}
#leds > ul > li {
  float: left;
  width: 75px;
  height: 75px;
  background: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
#input {
  float: left;
  width: 595px;
  height: 20px;
  margin: 10px 0px 0px 10px;
  padding: 0px 0px 0px 5px;
  background-color: #adadad;
}
#input > ul {
  list-style: none;
}
#input > ul > li > p {
  float: left;
  padding: 2px 10px 0px 0px;
}
#ledInput {
  float: left;
  width: 940px;
  height: 390px;
  background-color: #adadad;
  margin: 10px 0px 0px 10px;
}
#ledInput > form {
  float: left;
}
#ledInput > form > #checkled > ul {
  list-style: none;
}
#ledInput > form > #checkled > ul > li {
  float: left;
  width: 960px;
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 0px 10px;
}
#ledInput > form > #checkled > ul > li > input {
  float: left;
}
#ledInput > form > #checkled > ul > li > label {
  float: left;
  margin: 0px 0px 0px 10px;
}
#ledInput > form > #checkled > ul > li > #copy,
#ledInput > form > #checkled > ul > li > #paste {
  margin: 0px 0px 0px 10px;
}
#ledInput > form > #webinput {
  float: left;
  height: 30px;
  width: 940px;
  padding: 15px 0px 0px 10px;
  background-color: #adadad;
}
#ledInput > form > #webinput > #select {
  float: left;
}
#ledInput > form > #webinput > #select > input {
  margin: 0px 0px 0px 10px;
}
#ledInput > form > #webinput > #aanuit {
  float: left;
}
#ledInput > form > #webinput > #aanuit > input {
  width: 100px;
  margin: 0px 0px 0px 10px;
}
#debug {
  float: left;
  width: 960px;
  height: 50px;
}
.error {
  border: 1px solid red;
}
.placeholder {
  color: #A2A2A2;
}
